/* Inicio - FAQs */

.faqs-ancho {
    max-width: 900px;

}

#FAQs {

    text-align: left;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.TextoFaqs {

    display: inline-block;
    text-align: left;


}


/* Fin - FAQs */
