$azul:#181B49;
$beige: #F3F0E4;
$beige2: #f5f1e2;
$celeste: #83D0D2;
$padding-mobile: 20px;
$margin-mobile: 20px;
$sombra-cards: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$sombra-cards-hover: 0 8px 16px 0 rgba(0, 0, 0, 0.2);