@import "base";
@import "mixins";
@import "variables";
@import "navbar";
@import "footer";
@import "form";
@import "botones";
@import "faqs";

body {

    background-color: $beige;

}

@media (max-width: 560px) {

    #que-ofrecemos .container {
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
    }

    .margen {
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;

    }

    #evento-promocion .container {
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
    }

}

@media (max-width: 576px) {


    .texto-fotografia {

        text-align: center;

    }

}

@media screen and (max-width: 575px) {
    body {
        overflow-x: hidden !important;
    }

    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .nav-mobile {
        margin-left: $margin-mobile;
        margin-right: $margin-mobile;
    }
}


/* Inicio - INDEX.HTML */

/* Inicio - IMAGEN INTRO */


#ImgIntro {

    padding-top: 100px;
    padding-bottom: 0px;

}

/* Fin - IMAGEN INTRO */

/* Inicio - TEXTO DESTACADO */

.TextoIntro {

    margin: 80px 60px 60px 60px;


    h1 {

        font-weight: 400;
        color: $azul;
        text-align: center;
    }

    #ilus1 {

        @include sizes(91.84px, 60.11px);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

    }

    p {

        text-align: center;

    }

}

/* Fin - TEXTO DESTACADO */

/* Inicio - UN EDIFICIO CON MUCHA HISTORIA... */


#palacio-info {

    padding-left: 20px;
    padding-right: 20px;
}

.nosotros-extra {

    img {

        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.subtitulos {
    font-weight: 400;
    color: $azul;
    text-align: left;
}


.br {
    margin-bottom: 19px;
}

/* Fin - UN EDIFICIO CON MUCHA HISTORIA... */



/* Fin - INDEX.HTML */


/* Inicio - QUE-OFRECEMOS.HTML */


.TextoIntro4 {

    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}

#que-ofrecemos {
    background-color: $azul;
    padding-top: 160px;
    padding-bottom: 80px;


    h1 {

        font-weight: 400;
        color: #ffffff;
        text-align: center;
        position: relative;

    }


    p {

        margin-bottom: 20px;
        color: #ffffff;

    }

}


.que-ofrecemos-item {

    h3 {
        color: $celeste;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.item-margen {

    margin-top: 40px;
}


#evento-promocion {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Evento bafweek grande */


.test {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {


    .texto-evento-promo {
        padding-top: 60px;

    }

}

/* Fin - QUE-OFRECEMOS.html */


/* Inicios EVENTOS.HTML */

/* Inicio - EVENTO DESTACADO */

#eventos {

    padding-top: 160px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;

}


.TextoIntro2 {


    margin-bottom: 50px;
    max-width: 100%;

    h1 {

        font-weight: 400;
        color: $azul;
        text-align: center;

    }

    p {

        text-align: center;
    }

}


.ancho-maximo {
    max-width: 100%;
}

.evento-fotografia {

    h2 {
        font-weight: 400;
        color: $azul;
        margin-top: 0px;

    }

    h3 {

        font-weight: 400;
        color: $azul;
        margin-top: 20px;
        margin-bottom: 20px;

    }
}

.texto-fotografia {

    padding-bottom: 30px;
    padding-top: 20px;

}


.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;



}

.flex-item-left {

    flex: 50%;
    display: flex;
    justify-content: right;


}

.flex-item-right {

    flex: 50%;
    display: flex;
    align-items: flex-end;


}


.evento-fotografia {

    margin-top: 40px;
    margin-bottom: 40px;
}


/* Responsive */
@media (max-width: 699px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-item-left {

        flex: 50%;
        display: flex;
        justify-content: center;


    }

    .flex-item-right {

        flex: 50%;
        display: flex;
        justify-content: center;


    }
}

/* Ajuste tamaño img  */

@media (min-width: 700px) and (max-width: 990px) {

    .flex-item-left img {
        @include sizes(244px, 405px);
    }
}

/* Fin - EVENTO DESTACADO */


/* Inicio - CARDS EVENTOS */

@import "cards";

/* Fin - CARDS EVENTOS */


/* Fin EVENTOS.HTML */


/* Inicio COMUNIDAD.HTML */


#comunidad {

    padding-top: 160px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;


}


@import "cards-testimonios";


/* Fin COMUNIDAD.HTML */


/* Inicio SOBRE-EL-PALACIO.HTML */


#sobre-el-palacio {

    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;


}


.container-padre {
    display: grid;
    grid-template-areas:
        'video video video video video video'
        'left left middle middle right right'
        'parrafo parrafo parrafo imagen imagen imagen';

}

.left {
    padding: 30px 30px 30px 30px;
    text-align: center;
    color: #ffffff;
}

.middle {

    @extend .left;

}

.right {

    @extend .left;
}


@each $grid-area in left,
middle,
right {
    .#{$grid-area} {
        grid-area:#{$grid-area};
    }
}

.imagen {
    grid-area: imagen;
    padding: 0px;
    text-align: center;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 100px;

    img {

        width: 100%;
    }

}


.parrafo {
    grid-area: parrafo;
    padding-top: 60px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 50px;

}


.video-intro {
    grid-area: video;

    video {

        width: 100%;

    }

}


/* Responsive  */
@media (max-width: 720px) {
    .container-padre {
        grid-template-areas:

            'video video video video video video'
            'left left left left left left'
            'middle middle middle middle middle middle'
            'right right right right right right'
            'parrafo parrafo parrafo parrafo parrafo parrafo'
            'imagen imagen imagen imagen imagen imagen';

    }

    .parrafo,
    .imagen {

        padding-left: 30px;
        padding-right: 30px;

    }


}

.bi-book {
    font-size: 5rem;
    color: $celeste;
}

.bi-brush {
    @extend .bi-book;
}

.bi-people {
    @extend .bi-book;
}

/* Final SOBRE-EL-PALACIO.HTML */