/* Inicio - UN EDIFICIO CON MUCHA HISTORIA... */


#palacio-info {

    padding-left: 20px;
    padding-right: 20px;
}

.nosotros-extra {

    img {

        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.subtitulos {
    @include fuente-y-color;
    text-align: left;
}

.titulos-centrados{
    @include fuente-y-color;
    text-align: center;
}

.br {
    margin-bottom: 19px;
}

/* Fin - UN EDIFICIO CON MUCHA HISTORIA... */