/* Inicio - UN EDIFICIO CON MUCHA HISTORIA... */


#palacio-info {

    padding-left: 20px;
    padding-right: 20px;
}

.nosotros-extra {

    img {

        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.subtitulos {
    font-weight: 400;
    color: $azul;
    text-align: left;
}

.titulos-centrados{
    font-weight: 400;
    color: $azul;
    text-align: center;
}

.br {
    margin-bottom: 19px;
}

/* Fin - UN EDIFICIO CON MUCHA HISTORIA... */