#form {

    background-color: $celeste;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

    h1 {

        font-weight: 400;
        @include form-texto;

    }


    p {

        @include form-texto;

    }

}

.form-ancho {
    max-width: 450px;

}
